name: Time-consuming test

on:
  push:
    branches: ["main"]
  workflow_dispatch:

env:
  CARGO_TERM_COLOR: always

jobs:
  test:
    name: Cargo Test
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - run: export PATH=~/.cargo/bin:$PATH
      - run: |
          source ~/.zkm-toolchain/env
          for pkg in zkm-core-machine zkm-sdk zkm-verifier; do
            cargo test -r -p $pkg
          done
        env:
          RUSTFLAGS: "-C target-cpu=native"
